@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Lato&display=swap");
body {
  background-color: black;
  color: white;
  font-size: small;
  font-family: "Lato", sans-serif; }

.nav-tabs .nav-link.active {
  color: #000000;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff; }

.heading {
  font-weight: bolder;
  line-height: 0;
  padding-top: 10px; }

span[class=font-italic] {
  font-weight: bold;
  letter-spacing: 1px;
  color: #3b3b3b; }

h1, h2, h3, h4, h5, h6, .navbar-toggler span, b {
  font-family: "Bodoni Moda", serif;
  letter-spacing: .25rem;
  margin-bottom: 0; }

.modal-title, .modal-body {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: left; }

p {
  padding: 10px 0; }

.navbar-light .navbar-nav .nav-link {
  color: black; }

li {
  font-size: medium; }

.nav {
  flex-wrap: nowrap; }

.tabSections {
  margin: 0 0 50px 0; }

footer {
  padding: 20px 0;
  border-top: #444444 solid 2px;
  text-align: center; }

.text-white {
  text-align: center; }

.containerBackground {
  background-color: #444444;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid white 2px; }

.navbar-expand-md {
  height: 100%;
  align-items: flex-start; }

.tabSections a, .tab-pane a {
  color: white; }

#v-pills-tabContent .tab-pane {
  padding: 15px;
  background-color: #444444; }

.welcomePagePic {
  max-width: 600px; }

.nav-pills .nav-link {
  padding: 5px 100% 5px 0;
  color: white; }

.nav-pills .nav-link:hover {
  background-color: #2b2a2a; }

.nav-pills .nav-link.active {
  background-color: rgba(0, 0, 0, 0.979); }

.nav-pills div {
  font-weight: bold;
  letter-spacing: 2px; }
