@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Lato&display=swap');
$heading-font: 'Bodoni Moda', serif;
$text-font: 'Lato', sans-serif;

$background-color: black;
$container-color:  rgb(68, 68, 68);
$text-color: white;
$captions: rgb(253, 227, 231);

body {
    background-color: $background-color;
    color: $text-color;
    font-size: medium;
    font-family: $text-font;
}

.nav-tabs .nav-link.active {
    color: #000000;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.heading {
    font-weight: bolder;
    line-height: 0;
    padding-top: 10px;
}

span[class=font-italic] {
    font-weight: bold;
    letter-spacing: 1px;
    color:rgb(59, 59, 59);
}

h1, h2, h3, h4, h5, h6, .navbar-toggler span, b {
    font-family: $heading-font;
    letter-spacing: .25rem;
    margin-bottom: 0;
}

.modal-title, .modal-body {
    color: $background-color;
    font-family: $text-font;
    text-align: left;
}

p {
    padding: 10px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

nav li {
    font-size: medium;
}

.bg-light {
    color: black;
}

.tabSections {
    margin: 0 0 50px 0;
}

footer {
    padding: 20px 0;
    border-top: $container-color solid 2px;
    text-align: center;
}

.text-white {
    text-align: center;
}

.containerBackground {
    background-color: $container-color;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid $text-color 2px;
}

.navbar-expand-md {
    height: 100%;
    align-items:flex-start;
}

.tabSections a, .tab-pane a {
    color: $text-color;
}

a[target="_blank"] {
    color: rgb(247, 222, 226);
    font-weight: bold;
    padding: 0 5px;
}

#v-pills-tabContent .tab-pane {
    padding: 15px;
    background-color: $container-color;
}

.welcomePagePic {
    max-width: 600px;
}

.nav-pills {
    .nav-link {
        padding: 5px 0;
        color: $text-color;
        border-radius: 0;
    }

    .nav-link:hover {
        background-color: #2b2a2a;
    }

    .nav-link.active {
        background-color: rgba(0, 0, 0, 0.979);
    }

    div {
        font-weight: bold;
        letter-spacing: 2px;
    }
}