@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Lato&display=swap');

body {
    background-color: black;
    color: white;
    font-size: small;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bodoni Moda', serif;
}

li {
    font-size: medium;
}

.nav-tabs {
    padding: 0 15px;
}

.tabSections {
    margin: 0 0 50px 0;
}

footer {
    padding: 20px 0;
    border-top: rgb(49, 49, 49) solid 2px;
    text-align: center;
}

.text-white {
    text-align: center;
}

.containerBackground {
    background-color: rgb(59, 59, 59);
    padding-top: 5px;
}

.tabSections a {
    color: white
}

#v-pills-tabContent .tab-pane {
    padding: 15px;
    background-color: rgb(59, 59, 59);
}

.welcomePagePic {
    max-width: 600px;
}

.containerBackground button {
    margin-top: 10px;
    margin-bottom: 10px;
}